html,
body {
margin:0;
padding:0;
height:100%;
color: rgb(27, 27, 27)
}

div.App {
min-height:100%;
position:relative;
}

/* Index Page Styling  */

div.welcomeBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 2.5em;
}

h2.welcomeHeading{
  text-align: center;
  color: rgba(188, 108, 37, 1);
  font-weight: bolder;
}

ul.welcomeList{
  text-align: left;
}

/* Show Page Styling */

div.showBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  margin-top: 2.5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
}

div.showButtonBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.showDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

h2.showHeader {
  text-align: center;
  color: rgba(96, 108, 56, 1);
  font-weight: bolder;
}

button.showButton {
  border: none;
  background-color: rgba(188, 108, 37, 1);
  border-color: rgba(254, 250, 224, 1);
  border-radius: 0.25em;
  color:lightgrey;
  font-weight: bold;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 5em;
}

/* Create Event */

div.createBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 2.5em;
}

div.formCreate > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1em;
}

h1.createHeading {
  text-align: center;
  color: rgba(188, 108, 37, 1);
  font-weight: bolder;
}

input.createButton {
  border: none;
  background-color: rgba(188, 108, 37, 1);
  border-color: rgba(254, 250, 224, 1);
  border-radius: 0.25em;
  color:lightgrey;
  font-weight: bold;
  font-size: 0.75em;
  width: 10em;
  margin-top: 2.5em;
  margin-bottom: 5em;
}


div.formCreate > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1em;
}

h1.updateHeading {
  text-align: center;
  color: rgba(96, 108, 56, 1);
  font-weight: bolder;
}

input.updateButton {
  border: none;
  background-color: rgba(96, 108, 56, 1);
  border-color: rgba(254, 250, 224, 1);
  border-radius: 0.25em;
  color:lightgrey;
  font-weight: bold;
  font-size: 0.75em;
  width: 10em;
  margin-top: 2.5em;
  margin-bottom: 5em;
}

/* Footer Styling */

div.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 1.5em;
  padding: 0em;
  background-color: rgba(96, 108, 56, 0.80);
  margin-top: 2.5em;
  position: fixed;
  bottom:0;
  width:100%;
}

div.footer > div {
  font-size: 0.5em;
  text-decoration: none;
}

div.footer > div > a {
  text-decoration: none;
}

div.footer > a {
  font-size: 0.5em;
  text-decoration: none;
}

/* Login Page Styling */

div.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

h1.loginWelcome {
  text-align: center;
  color: rgb(102, 51, 153);
  font-weight: bolder;
}

form.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input.inputSignup {
  width: 5em;
}

.loginredirect {
  color: rgb(102, 51, 153);
  text-decoration: none;
}

input.loginButton {
  border: none;
  background-color: rgb(102, 51, 153);
  border-color: rgb(102, 51, 153);
  border-radius: 0.25em;
  color:lightgrey;
  font-weight: bold;
  font-size: 0.75em;
  width: 10em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

/* Sign Up Styling */


.indexInfo{
  background-color: white;
  border: 1px solid black;
  padding: 4px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

.indexInfoImage{
  width: 200px;
  height: 150px;
  border: 1px solid black
}

.indexInfoDesc{
  border-radius: 8px;
}

.events{
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 600px;
  margin-top: 20px;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.myContent{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  color: rgb(102, 51, 153);
  font-family: "Outfit", "Monospace";
  font-weight: "bold";
}

.events > a {
  text-decoration: none;
}

.events > a > h1{
  font-size: 20px;
  color: rgb(102, 51, 153);
}

.hidden{
  display: none;
}

/* Universal Vertical Align Group */

.verticalAlignBlock {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 

/* SIGNUP FORM */
/* #inputSignup {
  padding: 5px;
  margin: 8px;

}*/

/* Carousel Styling */

.customCarousel {
  margin: 1em;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editImage{
  width: 1600px;
  height: fit-content
}

@media only screen and (max-width: 1600px) {
  .myContent{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    color: rgb(102, 51, 153);
    font-family: "Outfit", "Monospace";
    font-weight: "bold";
  }
}

@media only screen and (max-width: 1400px) {
  .editImage{
    width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .myContent{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    color: rgb(102, 51, 153);
    font-family: "Outfit", "Monospace";
    font-weight: "bold";
  }
  
  .editImage{
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .editImage{
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .editImage{
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .editImage{
    width: 400px;
  }
  .events{
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 400px;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    text-align: center;
  }
  .myEvents{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .editImage{
    width: 250px;
  }
}